/target/
**/*.rs.bk
.DS_Store

__pycache__/
.tmp/
logs/

projects/ft8-regr/artifacts/*
!projects/ft8-regr/artifacts/discovery/
projects/ft8-regr/artifacts/discovery/*
!projects/ft8-regr/artifacts/discovery/datasets.json
!projects/ft8-regr/artifacts/samples/
projects/ft8-regr/artifacts/samples/*
!projects/ft8-regr/artifacts/samples/kgoba-ft8-lib/
projects/ft8-regr/artifacts/samples/kgoba-ft8-lib/**/*
!projects/ft8-regr/artifacts/samples/kgoba-ft8-lib/**/
!projects/ft8-regr/artifacts/samples/kgoba-ft8-lib/**/*.txt
projects/ft8op/logs/
